<div class='listingcontainer'>
	<% @listings.each do |listing| %>
	<div class='table-border col-md-12 btn btn-default'>
		<div class='row'>
			<div class='col-md-12 listing_name'><%= listing.name %></div>
		</div>
		<div class='row'> 
			<div class='col-md-6 listing_info'><%= listing.updated_at %></div>
			<div class='col-md-6 listing_info'><%= listing.category %></div>
		</div>
	</div>
	<% end %>
</div>