<h1>Listing listings</h1>

<br>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='row section-header'>
        <div class='col-md-8'>SUBSCRIPTIONS</div>
        <div class='col-md-4'>
          <button class='showsubs' id='subsbutton'> hide </button>
        </div>
      </div>
      <div class='row' id='subslist'><%= render 'listingssummary' %></div>

      <br/>
      <div class='row section-header' name='listings'>
        <div class='col-md-8'> FEED </div>
        <div class='col-md-4'>
          <div class='feedall' id='feedbutton'><%= link_to 'view archive', :controller => :listings, :action => :archive %></div>
        </div>
      </div>
      <div class='row' id='subslist'><%= render 'listingssummary' %></div>

    </div>


    <div class='col-md-8'>
      <div class='calendarview' id='calendar'> insert calendar here</div>
      <div class='listingview' id='listingdetail'> insert listing info here</div>
    </div>
  </div>

  <div class='row stats-bar'>
    <div class='col-md-12'>huntr stats bar</div>
  </div>
</div>
