<h1>Listing listings</h1>

<br>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='row'>
        <div class='col-md-6'>SUBSCRIPTIONS</div>
        <div class='col-md-6'>
          <button class='showsubs' id='subsbutton'> hide </button>
        </div>
      </div>

      <div class='row' name='listings'>
        <div class='col-md-6'> FEED </div>
        <div class='col-md-6'>
          <div class='feedall' id='feedbutton'><%= link_to 'view archive', :controller => :listings, :action => :archive %></div>
        </div>

        <div id='subslist'><%= render 'listingssummary' %></div>
      </div>
    </div>


    <div class='col-md-8'>
      <div class='calendarview' id='calendar'> insert calendar here</div>
      <div class='listingview' id='listingdetail'> insert listing info here</div>
    </div>
  </div>

  <div class='row'>
    <div>huntr stats bar</div>
  </div>
</div>
