// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-pane {
  padding-right: 30px;  
}

.section {
	border: 2px solid #333333;
	border-radius: 4px;
}

.section-header {
  padding: 10px 0;
}

.header-text {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}

// Listings summary
.listing-container {
	overflow-y: auto;
	height: 240px;
	.listing-area {
		border-radius: 0;
		border-top: 0;
	  text-align: left;
		.listing-name {
			margin: 0;
			font-weight: bold;
			font-size: 1.2em;
			white-space: normal;
		}
		.listing-meta {
			margin-top: 5px;
			margin-bottom: 0;
			i {
				margin-right: 5px;
			}
		}
		.listing-details, .fav-listing-details {
		  display: table-cell;
		  width: 95%;
		}
		.listing-favorite {
		  display: table-cell;
      vertical-align: middle;
		}
		.fa-star {
		  color: #FFFF99;
		}
	}
}

// transitions adapted from http://git.aaronlumsden.com/tabulous.js
.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.listing-hide {
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
	transform: scale(0.99);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.listing-show {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.listing-unread {
	background-color: orange;
}

#favsbutton {
  float: right;
}
