// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-header {
	border: 2px solid #000;
}

.listing-container {
	overflow-y: auto;
	height: 150px;
	.listing-area {
		border-radius: 0;
		border-top: 0;
		.listing-name {
			margin: 0;
			font-weight: bold;
			font-size: 1.2em;
			white-space: normal;
			text-align: left;
		}
		.listing-meta {
			margin-top: 5px;
			margin-bottom: 0;
			text-align: left;
			i {
				margin-right: 5px;
			}
		}
	}
}

#listing {
	display: none;
	padding-left: 15px;
	h2 {
		margin-top: 0;
		font-weight: bold;
	}
	p {
		font-size: 1.1em;
	}
}

.table-border {
	border-style: solid;
	border-color: blue;
}

.rt-btn {
	background-color: lightgreen;
	float: right;
}

.header-text {
	font-size: medium;
	text-align: left;
}