.right-pane {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s;
  #listing {
    padding-left: 30px;
    padding-bottom: 30px;
    h2 {
      margin-top: 0;
      font-weight: bold;
    }
    p {
      font-size: 1.1em;
    }
    #location-map {
      height: 150px;
    }
    .listing-body {
      &.full-height {
        max-height: 500px;
      }
      &.partial-height {
        max-height: 350px;
      }
      overflow-y: auto;
      word-wrap: break-word;
    }
    .fa-crosshairs {
      color: #C8C8C8;
      &.favorited {
        color: rgba(255, 51, 51, 0.7);
      }
    }
  }
}

#view-cal {
  float:right;
}

.listing-name {
  display: inline-block;
  max-width: 85%;
}

.listing-star {
  display: inline-block;
  float: right;
  margin-top: 6px;
}

.listing-sent {
  margin: -10px 0 10px;
  font-size: 1.6em;
}

.listing-event-details {
  margin-top: 20px;
  font-size: 1.4em;
}

.details-label {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.empty-map {
  font-weight: bold;
  text-align: center;
  padding: 30px 20px;
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, .7);
}