// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listingcontainer {
	overflow: auto;
	height: 150px;
}

.listing_name {
	font-weight: bold;
	font-size: 10;
	text-align: left;
}

.listing_info {
	font-size: 8;
	text-align: justify;
}
.section-header{
	border-style: solid;
}

.stats-bar {
	border-style: ridge;
	text-align: center;
}

.table-border {
	border-style: solid;
	border-color: blue;
}

.rt_btn {
	background-color: lightgreen;
	float: right;
}

.header_text {
	font-size: medium;
}